.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;

    @media (min-width: 1440px) {
      display: flex;
      align-items: baseline;
    }
  }

  &__title {
    color: var(--clr-light);
    font-size: 2.5rem;
    line-height: 40px;
    padding: 1.125rem 3rem;

    @media (min-width: 768px) {
      font-size: 64px;
      line-height: 56px;
      max-width: 683px;
      padding: 0 9rem;
      margin: 0 auto 24px auto;
    }
  }

  &__text {
    color: var(--clr-light);
    font-size: 0.9375rem;
    line-height: 28px;
    margin: 0 0 6.0625rem 0;
    padding: 0 0 1rem 0;

    @media (min-width: 768px) {
      max-width: 450px;
      // margin-bottom: 156px;
      margin-bottom: 112px;
      padding-bottom: 0;
    }

    @media (min-width: 1440px) {
      font-size: 18px;
      line-height: 28px;
      text-align: left;
      max-width: 730px;
      margin-bottom: 108px;
    }
  }

  &__cover-box {
    width: 100px;
    height: 100px;
    background: var(--clr-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &__image {
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: -1;

    @media (min-width: 768px) {
      bottom: 1px;
    }
  }
}

.line-about {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    width: 50px;
    height: 4px;
    background: var(--clr-accent);
    margin: 0 0 40px 0;
  }
}
