.features {
  background: var(--clr-green-800);
  position: relative;

  @media (min-width: 1440px) {
    display: flex;
  }

  &__wrapper-inner {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      max-width: 573px;
      margin: 0 auto;
    }
  }

  &__line {
    width: 50px;
    height: 4px;
    background: var(--clr-accent);
    margin: 4rem 0 32px 1.5rem;

    @media (min-width: 768px) {
      margin: 100px 0 32px 1.5rem;
    }

    @media (min-width: 1440px) {
      margin-bottom: 54px;
      margin-top: 140px;
    }
  }

  &__title {
    color: var(--clr-light);
    font-size: 2rem;
    line-height: 32px;
    padding: 0 6.375rem 3.5rem 1.5rem;

    @media (min-width: 1440px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: -100px;

    @media (min-width: 1440px) {
      bottom: 0;
      top: initial;
    }
  }

  &__ul {
    padding: 0 1.5rem 4rem 0;

    @media (min-width: 768px) {
      max-width: 573px;
      margin: 0 auto;
      padding: 0 1.5rem 100px 0;
    }

    @media (min-width: 1440px) {
      margin-top: 198px;
      padding-bottom: 140px;
    }
  }

  &__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--clr-light);
    margin: 0 0 3rem 0;

    &:last-of-type {
      margin: 0;

      // padding: 0 0 4rem 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      text-align: left;
      gap: 23px;
      margin: 0 0 2rem 0;
    }
  }

  &__li-title {
    color: var(--clr-accent);
    font-size: 1.125rem;
    line-height: 28px;
    margin: 0 0 0.5rem 0;

    @media (min-width: 768px) {
      margin: 0 0 1rem 0;
    }
  }

  &__li-text {
    font-size: 0.9375rem;
    line-height: 25px;
    font-weight: 600;
    opacity: 0.8;
  }

  &__li-image {
    margin: 0 0 1rem 0;
  }
}
