.header {
  background: var(--clr-dark);
  padding: 3rem 1.5rem;

  &__wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 128px;
    height: 32px;
  }

  &__hamburger {
    background: transparent;
    border: none;
  }
}
