.header {
  background: var(--clr-dark);
  padding: 3rem 1.5rem;

  @media (min-width: 768px) {
    padding: 64px 40px 112px 40px;
  }

  &__wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 128px;
    height: 32px;
  }

  &__hamburger {
    background: transparent;
    border: none;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
  }

  &__ul {
    display: flex;
    gap: 40px;
  }

  &__li {
    font-size: 18px;
    line-height: 28px;

    a {
      text-decoration: none;
    }
  }

  &__btn {
    display: none;
    font-size: 18px;
    line-height: 28px;
    padding: 0 2rem;
    border: 2px solid;
    border-radius: 25px;
    text-decoration: none;
    min-width: 157px;
    height: 48px;

    @media (min-width: 768px) {
      display: grid;
      align-items: center;
    }
  }
}
