.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1440px) {
    position: relative;
  }

  &__wrapper {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;

    @media (min-width: 1440px) {
      display: flex;
      align-items: stretch;
      margin: 0 0 250px 0;
    }
  }

  &__image-1 {
    display: none;

    @media (min-width: 1440px) {
      display: block;
      position: absolute;
      left: -100px;
    }
  }

  &__title {
    color: var(--clr-light);
    font-size: 2.5rem;
    line-height: 40px;
    padding: 1.125rem 3rem;

    @media (min-width: 768px) {
      font-size: 64px;
      line-height: 56px;
      max-width: 683px;
      padding: 0 9rem;
      margin: 0 auto 24px auto;
    }

    @media (min-width: 1440px) {
      font-size: 100px;
      line-height: 100px;
      padding: 0 4rem 0 0;
      text-align: left;
      margin: 0;
    }
  }

  &__title-emphesis {
    color: var(--clr-accent);
  }

  &__text {
    color: var(--clr-light);
    font-size: 0.9375rem;
    line-height: 28px;
    margin: 0 0 6.0625rem 0;

    @media (min-width: 768px) {
      padding: 0 8rem;
      margin-bottom: 156px;
    }

    @media (min-width: 1440px) {
      font-size: 18px;
      line-height: 28px;
      max-width: 445px;
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }

  .line-hero {
    display: none;

    @media (min-width: 1440px) {
      display: block;
      width: 50px;
      height: 4px;
      background: var(--clr-blue-light);
      margin: 0 0 79px 0;
    }
  }

  &__image {
    @media (min-width: 1440px) {
      position: absolute;
      bottom: 0;
      right: 159px;
    }
  }
}
