.testimonials {
  background: var(--clr-green-700);
  position: relative;

  &__title {
    color: var(--clr-light);
    font-size: 2rem;
    line-height: 32px;
    text-align: center;
    padding: 2.5rem 1.5rem 1.5625rem 1.5rem;

    &-emphesis {
      color: var(--clr-blue-light);
    }

    @media (min-width: 768px) {
      max-width: 573px;
      margin: 0 auto;
      padding: 0 3.5rem 1.5625rem 3.5rem;
    }

    @media (min-width: 1440px) {
      font-size: 48px;
      line-height: 48px;
      padding: 0 2rem;
      max-width: 992px;
      margin-top: 40px;
      margin-bottom: 36px;
    }
  }

  &__ul {
    padding: 0 1rem;
    text-align: center;
    padding: 0 0 6.625rem 0;

    @media (min-width: 768px) {
      max-width: 573px;
      margin: 0 auto;
      padding: 0 0 100px 0;
    }

    @media (min-width: 1440px) {
      display: flex;
      gap: 30px;
      max-width: 1110px;
      padding-bottom: 149px;
    }
  }

  &__pattern-bottom {
    position: absolute;
    bottom: -100px;
    right: 0;
  }
}

.blockquote {
  position: relative;

  &::before {
    content: url("/assets/icon-quotes.svg");
    position: relative;
    top: 22px;
  }

  &__text {
    color: var(--clr-light);
    font-size: 0.9375rem;
    line-height: 25px;
    padding: 0 1.5rem 0 1.5rem;
    position: relative;
    z-index: 1;
    opacity: 0.8;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    figure:last-of-type {
      margin-bottom: 0;
    }
  }
}

.figcaption {
  padding: 0 0 1rem 0;

  @media (min-width: 1440px) {
    padding-bottom: 32px;
  }
  &__title {
    color: var(--clr-blue-light);
    font-size: 1.125rem;
    line-height: 28px;
  }

  &__sub-title {
    color: var(--clr-light);
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 18px;
  }
}

.figure__image {
  width: 62px;
  height: 62px;
  border: 2px solid var(--clr-blue-light);
  border-radius: 50%;
}
