.testimonials {
  background: var(--clr-green-700);
  position: relative;

  &__title {
    color: var(--clr-light);
    font-size: 2rem;
    line-height: 32px;
    text-align: center;
    padding: 2.5rem 1.5rem 1.5625rem 1.5rem;

    &-emphesis {
      color: var(--clr-blue-light);
    }
  }

  &__ul {
    padding: 0 1rem;
    text-align: center;
    padding: 0 0 6.625rem 0;
  }

  &__pattern-bottom {
    position: absolute;
    bottom: -100px;
    right: 0;
  }
}

.blockquote {
  position: relative;

  &::before {
    content: url("/assets/icon-quotes.svg");
    position: relative;
    top: 22px;
  }

  &__text {
    color: var(--clr-light);
    font-size: 0.9375rem;
    line-height: 25px;
    padding: 0 1.5rem 0 1.5rem;
    position: relative;
    z-index: 1;
    opacity: 0.8;
  }
}

.figcaption {
  padding: 0 0 1rem 0;

  &__title {
    color: var(--clr-blue-light);
    font-size: 1.125rem;
    line-height: 28px;
  }

  &__sub-title {
    color: var(--clr-light);
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 18px;
  }
}
.figure__image {
  width: 62px;
  height: 62px;
  border: 2px solid var(--clr-blue-light);
  border-radius: 50%;
}
