html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Livvic", sans-serif;
  background: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
