:root {
  // Primary
  --clr-dark: #014e56;
  --clr-light: #fff;
  --clr-accent: #f67e7e;

  // Secondary
  --clr-blue-light: #79c8c7;
  --clr-blue-dark: #2c6269;
  --clr-green-700: #004047;
  --clr-green-800: #012f34;
  --clr-green-900: #002529;
}
